@page
@model Website.Areas.Co.Pages.Province.IndexModel;
@{
    ViewBag.Title = "province";
}
<div class="table-container">
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered table-striped">
            <caption class="table-caption"></caption>
            <thead>
                <tr>
                    <th>کد</th>
                    <th>استان</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>0-@item.Id</td>
                        <td>@item.Title</td>
                        <td data-change>
                            <div>
                                <a asp-page="City" asp-route-id="@item.Id" target="_blank" data-more>
                                    شهرها
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>