@page
@model Website.Areas.Co.Pages.Tags.IndexModel;
@{
    ViewBag.Title = "tags";
    var createUrl = Url.Page("", "Create");
}
<partial name="_Alert" model="Model.Alert" />
<div class="table-container">
    <div class="table-container-header">
        <button class="btn btn-outline-dark" onclick='ajaxLoadPartialForm(this)' data-title="افزودن برچسب"
            data-url='@createUrl'>
            افزودن
        </button>
        <form method="GET">
            <input type="text" name="filter" class="form-control">
            <input type="hidden" value="1" name="p" class="form-control">
            <button type="submit" class="btn btn-outline-dark">
                جستجو...
            </button>
        </form>
    </div>
    <div class="table-responsive" id="dataList">
        <table class="table table-bordered table-striped">
            <caption class="table-caption"></caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>نقش ها</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.List.Any())
                {
                    foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td data-change>
                                <div>
                                    <form onsubmit="return confirm('آیا از حذف @item.Title مطمئن هستید؟')"
                                asp-page-handler="remove">
                                        <input type="hidden" name="id" value="@item.Id">
                                        <button type="submit" data-trash>
                                            <i class="las"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr data-span></tr>
                }
            </tbody>
        </table>
        <partial name="_Pagination" model='(Model.List.TotalPages)' />
    </div>
</div>