// base colors
$web-color-1:#264653;
$web-color-2:#2a9d8f;
$web-color-3:#e9c46a;
$web-color-4:#f4a261;
$web-color-5:#e76f51;

// 
$web-body-bg-color:#fff;

// text color
$web-text-color:rgba(0, 0, 0, 0.8);

// border
$web-border:1px solid #a3a3a38a;

// radius
$web-box-radius:10px;

// font size
$web-sm-font-size:.8rem !default;
$web-md-font-size:.9rem !default;
$web-lg-font-size:1rem !default;

//
//
//================== Text color
// $web-text-color:$web-gray-color !default;
//
//
//================== Hover color
// $web-hover-color:$web-dark-color !default;
//
//
//================== Active color
// $web-active-color:$web-blue-color !default;
//
//
//================== Focus color
// $web-focus-color:$web-blue-color !default;
//
//
//================== Status color
// $web-success-color:green !default;
// $web-danger-color:$web-red-color !default;
//
//
//================== Box shadow varables
// $web-box-shadow:0 5px 10px get-opacity-in-rgba($web-gray-color, .5);
//
//
//================== Border varables
// $web-border:1px solid get-opacity-in-rgba($web-dark-color, .10) !default;
//
//
//================== Font size