// 
@mixin btn-submit {
    .btn-submit {
        border: none;
        padding: .5rem;
        font-weight: bold;
        border-radius: 2px;
        align-items: center;
        font-size: $fs-small - .1;
        background-color: $bgc-type-3;

        &:hover {
            color: $tc-gray;
        }

        @content;
    }
}